<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.navbar-collapse.collapse {
  display: block!important;
}

nav ul li:first-child { float: left; }

nav ul li {
  list-style:none;
  margin:0px;
  float: right;
}

nav ul li:last-child {   list-style:none;
  list-style:none;
  margin-right:0px;
  border-top: 0px;
  border-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}

.kent {
  list-style:none;
    list-style:none;
    margin-right:20px;;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-icon {
  border-top: 0px;
  border-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-nav{
  margin-left: 5px !important;
}

.navbar-right {
  float: right!important;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"><img src="" width="10" height "10"> Kent</a></li>
      <li class="kent"><a href="#"><img width="40" height="40" src="camera.png"></a></li>
      <li><a href="#">Page 1</a></li>
      <li>
          <a href="#contact">Contact</a></li>
    </ul>
</nav>

<div class="jumbotron text-center">

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>
