html, body {
  overflow-x:hidden
}

body { background: black !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

logo {
  letter-spacing: 2px;
}

formtitle {
  padding-left: 5px;
}

.form-text{
  color: black;
}

.form-button{
  color: black;
  background-color: #00FF00;
  border: none;
   padding: 11px 32px;
   font-size: 1.4em;
   font-weight: bold;
margin-top: 15px;
}

.view-all-button{
  color: white;
  background-color: black;
  border: none;
   font-size: 1.2em;
   margin-top: 3px;
}

commentauthor{
  padding-left: 5px;
  font-size: .8em;
}

commenttext{
  padding-left: 5px;
  font-size: 1em;
}

.profile-section-header{
  background: black;
  color: white;
  margin-top: 0px;
  margin-bottom: -6px;
  padding-bottom:0px;
  font-size: 1.4em;
  padding-left: 7px;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 0;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

commentline{
  display: block;
  position: relative;
  padding: 0;
  margin-top: -2px;
  margin-left: 12px;

  margin-bottom:8px;
  height: 0;
  width: 92%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #00ff00;
  border-bottom: 1px solid #00ff00;
}


.new-image-form{
  background: black;
  color: white;
  font-size: 1.3em;
}

.grid-image {
  width: calc(100% / 3);
  height: calc(100vw / 3);

}

.new-image-preview {
  width: calc(100%);
  height: auto;
}

.profile-image {
  width: calc(50%);
  height: auto;
  border-radius: 50%;
}

.profile-image-thumb {
  border-radius: 50%;
}

.image-grid {
  padding-left:0px;
  padding-right:0px;
}

.first-section-divider {
  background: black;
  color: white;
  margin-top: 59px;
  margin-bottom: -6px;
  padding-bottom:0px;
  padding-left: 7px;
  font-size: 1.4em;

}

.new-image-divider {
  background: black;
  color: white;
  margin-top: 38px;
  margin-bottom: -12px;
  padding-top: 0px;
  padding-bottom:5px;
  padding-left: 7px;
  text-align: center;
  font-size: 1.8em;
}

.new-image-header {
  background: black;
  color: white;
  margin-top: 61px;
  margin-bottom: -8px;
  padding-top: 0px;
  padding-bottom:5px;
  padding-left: 7px;
  text-align: center;
  font-size: 1.8em;
}

.view-image-head-spacer {
  background: black;
  margin-top: 60px;
  margin-bottom: -8px;
  padding-top: 0px;
  padding-bottom:5px;
  padding-left: 7px;
}

.category-item{
  text-align: center;
  background-image: url("grass.jpg");
  font-size: 1.9em;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: white;

}

.location-item{
  text-align: center;
  background-image: url("location.jpg");
  font-size: 1.9em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  color: white;

}

.section-divider {
  background: black;
  color: white;
  margin-top: 3px;
  margin-bottom: -4px;
  padding-bottom:0px;
  padding-left: 7px;
  font-size: 1.4em;
}

.image-caption {
  background: black;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: -1px;
  padding-bottom:0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.3em;
}

div {
  overflow-x: hidden;
  overflow-y: hidden;
}

.image-author {
  background: black;
  color: white;
  padding-top: 2px;
  padding-bottom:8px;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 1.3em;
}

.navbar-collapse.collapse {
  display: block!important;
}

.nav {
  font-size: 1.9em !important;
  color:white;
  color: white !important;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:focus {
    color: white;
}

.image-upload > input
{
    display: none;
}

form  {
    display: inline;
}

nav ul li:first-child { float: left;
  margin-left: -20px;
  margin-top: -18px;
  padding-top: 0px;
  margin-bottom: -18px;
  border-bottom: 0px;
}

nav ul li:nth-child(2){ float: left;
  margin-left: -15px;
  padding-top: 0px;
  margin-bottom: -17px;
  border-bottom: 0px;
}

nav ul li {
  list-style:none;
  margin:0px;
  float: right;
}
nav ul li:last-child {   list-style:none;
  list-style:none;
  margin-right:10px;
  margin-left: -10px;
  margin-right: 10px !important;
  margin-left: -15px !important;
  float: right;
}

nav ul li:nth-last-child(2) {   list-style:none;
  list-style:none;
  margin-left: -10px;
  margin-right: 0px !important;
  margin-left: -15px !important;
  float: right;
}

.menu-icon {
  list-style:none;
    list-style:none;
    margin-right:20px;
    border-top: -5px;
    border-bottom: -15px;
    margin-top: -5px;
    margin-bottom: -15px;
    margin-left: 0px;
    border-left: 0px;
}

.camera-icon {
  list-style:none;
    list-style:none;
    margin-right:35px;
    border-top: 10px;
    border-bottom: -15px;
    margin-top: 0px;
    margin-bottom: -15px;
    margin-left: 10px;
    border-left: 0px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-nav{
  margin-left: 5px !important;
}

.navbar-right {
  float: right!important;
}
